<div class="homepage col-12">
    <form action="/artist-search" method="GET" class="col-12 form-group">
        <div class="col-12 bar-and-button">
            <input type="text" name="artist" placeholder="Instert the artist name here" class="col-10">
            <button class="btn btn-info">Search for an Artist</button>
        </div>
    </form>
</div>